<a href="https://colab.research.google.com/github/srishtiiii545/Mishra.phyton545/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 fruit= list(("apple","banana","cherry"))
fruit.append("rose")

print(fruit)

['apple', 'banana', 'cherry', 'rose']

In [ ]:
fruit= list(("apple","banana","cherry"))
fruit.append("rose")
fruit.insert(1,"mango")
print(fruit)

['apple', 'mango', 'banana', 'cherry', 'rose']

In [ ]:
fruit= list(("apple","banana","cherry"))
fruit.append("rose")
fruit.insert(1,"mango")

print(fruit[2:3])

['banana']

In [ ]:
fruit= list(("apple","banana","cherry"))
fruit.append("rose")
fruit.insert(1,"mango")

print(fruit[2])

banana

In [ ]:
fruit= list(("apple","banana","cherry"))
fruit.append("rose")
print(fruit)
if 'grapes' not in fruit:
  print ("true")
else:
  print('fasle')

['apple', 'banana', 'cherry', 'rose']
true

In [ ]:
fruit= list(("apple","banana","cherry"))
fru2 =list(("berry","grapes"))
fruit.extend(fru2)
print(fruit)

['apple', 'banana', 'cherry', 'berry', 'grapes']

In [ ]:
fruit= list(("apple","banana","cherry"))
fru2 =list(("berry","grapes"))
fruit.remove('apple')
print(fruit)

['banana', 'cherry']

In [ ]:
fruit= list(("apple","banana","cherry"))
fruit.pop()
print(fruit)

['apple', 'banana']

In [ ]:
a=list((1,2,3,4,5,6,7,8,9,10))
sum=0
length=len(a)
for i in range(length):
  sum+=a[i]
print(sum)

55

In [ ]:
a=list(())
b=input()

for i in range (5):
  b=input()
  a.append(b)
  print(a)

In [ ]:

a = input("Enter a word: ")
a_lower = a.lower()

if a_lower[0] == a_lower[-1]:
    print(" same.(^-^)")
else:
    print(" different.(*_*)")

Enter a word: amma
 same.(^-^)

In [ ]:
tuple={"apple","mango","cherry"}
print(tuple)

{'mango', 'cherry', 'apple'}

In [ ]:
myset = set(["a", "b", "c"])
print(myset)


myset.add("d")
print(myset)

{'b', 'a', 'c'}
{'d', 'b', 'a', 'c'}

In [ ]:
myset = set(["a", "b", "c"])
print(myset)


myset.remove("b")
print(myset)

{'b', 'a', 'c'}
{'a', 'c'}

In [ ]:
myset = set(["a", "b", "c"])
set1=set(["d","w","a"])
set2=myset.union(set1)
myset.intersection_update("set2")
print(myset)
print(set2)

In [ ]:
user={"Name":"srirhti",
"age":21,
"subject":(("science","maths"))}
print(user["Name"])
print(user["subject"])

srirhti
('science', 'maths')

In [ ]:
user={"Name":"srirhti",
"age":[20,12],
"subject":(("science","maths"))}
print(user["Name"])
print(user["subject"])
print(user["age"])

srirhti
('science', 'maths')
[20, 12]

In [ ]:
user={"Name":"srirhti",
"age":[20,12],
"subject":(("science","maths"))}
print(user.keys())

dict_keys(['Name', 'age', 'subject'])

In [ ]:
user={"Name":"srirhti",
"age":[20,12],
"subject":(("science","maths"))}
print(user.values())

dict_values(['srirhti', [20, 12], ('science', 'maths')])

In [ ]:
user={"Name":"srirhti",
"age":[20,12],
"subject":(("science","maths"))}
print(user.items())

dict_items([('Name', 'srirhti'), ('age', [20, 12]), ('subject', ('science', 'maths'))])

In [ ]:
user={"Name":"srirhti",
"age":[20,12],
"subject":(("science","maths"))}
for keys,values in user.items():
  print(keys,values)

Name srirhti
age [20, 12]
subject ('science', 'maths')

In [ ]:
user={"Name":"srirhti",
"age":[20,12],
"subject":(("science","maths"))}
# user.update['Name']= 'srishti']
user.update({'gender':'female'})
print(user.items())

dict_items([('Name', 'srirhti'), ('age', [20, 12]), ('subject', ('science', 'maths')), ('gender', 'female')])

In [ ]:
user={"Name":"srirhti",
"age":[20,12],
"subject":(("science","maths"))}
user["gender"]="f"
print(user.items())

dict_items([('Name', 'srirhti'), ('age', [20, 12]), ('subject', ('science', 'maths')), ('gender', 'f')])

In [ ]:
user={"Name":"srirhti",
"age":[20,12],
"subject":(("science","maths"))}
print(user.pop('age'))

[20, 12]

In [ ]:
user={"Name":"srirhti",
"age":[20,12],
"subject":(("science","maths"))}
print(user.pop('age'))
user.popitem()

[20, 12]

('subject', ('science', 'maths'))

In [ ]:
user={"Name":"srirhti",
"age":[20,12],
"subject":(("science","maths"))}
print(user.pop('age'))
user.popitem()
del user["Name"]
print (user.items())

[20, 12]
dict_items([])

In [ ]:
a=int(input())
b= "hello"
try:
  c=a+b
except:
  print("error ")

5
error

In [ ]:
fruit= list(("apple","banana","cherry"))
fruit[2]
print(fruit)
try:
    fruit[2]
except index_error:
      print("in this list  doesn't exist")

['apple', 'banana', 'cherry']

In [ ]:

try:
    res = 10 / 5
except ZeroDivisionError:
    print("division by zero")
else:
  print("result is", res)
finally:
  print("")

result is 2.0

In [ ]:
my_dictionary = {
    'name': 'srishti mishra',
    'age': 21,
    'city': 'jaipur',
    'degree': 'bca'
}
def display_dictionary(dictionary):
    for key, value in dictionary.items():
        print(f"{key}: {value}")
def insert_into_dictionary(dictionary, key, value):
 dictionary[key] = value

print("the Dictionary(^_^)")
display_dictionary(my_dictionary)

new_key = 'email'
new_value = 'sm234@gmail.com'
insert_into_dictionary(my_dictionary, new_key, new_value)

key_to_delete = 'degree'
if key_to_delete in my_dictionary:
    my_dictionary.pop(key_to_delete)
print("\n")
print("Updated Dictionary(^_^):")


display_dictionary(my_dictionary)

the Dictionary(^_^)
name: srishti mishra
age: 21
city: jaipur
degree: bca


Updated Dictionary:
name: srishti mishra
age: 21
city: jaipur
email: sm234@gmail.com

In [ ]:
a=open("hi my name is srishti.txt")
print(a.read())

hi my name is srishti

In [ ]:
a=open("srishti.txt ","a")
a.write("hello see you never")
a.close()
# print("\n")
a=open("srishti.txt")
print(a.read())

hi my name is srishti